extends _layout

block title
	title Программа

block content
	- var value = 1
	a(href="#zakaz").programm-offer-button.js-scroll Заказать
	.pagehead-wrap.text-left(style='background-image: url(img/hbg.jpg)')
		.inner-content
			.half
				.half-base
					.pagehead-content
						h1.h-title.h1.u-white Программа питания 
							span.u-number 2300–2900
								span.programm-value ккал
									br
									| день
					.bread-container
						mixin bread(name)
							a(href="#").icon-link
								i 
								span #{name}
						+bread('Главная')
						+bread('Программы питания')
						+bread('2300-2600 ккал/день')
	.inner-content
		.half
			.half-base
				.half-section
					.profit-wrap
						.profit-item
							.profit-img
								img(src="img/1-0program/1.png", alt="")
							.text2 Для организации ежедневного здорового рациона без затрат сил и времени.
						.profit-item
							.profit-img
								img(src="img/1-0program/2.png", alt="")
							.text2 Для достижения необходимого веса, хорошего самочувствия, здорового сна.
						.profit-item
							.profit-img
								img(src="img/1-0program/3.png", alt="")
							.text2 Для высокой работоспо- собности в течение всего рабочего дня. 
				.half-section
					h2.box-title Меню на завтра
						.box-title-small Уже завтра вы сможете попробовать вкуснейшие и сбалансированные блюда. 
					ul.checkbox-wrap
						li.checkbox-item.link
							//вот сюда active 
							a(href="#").checkbox-outer.active 
								span.input-fake 2300-2600 ккал
						li.checkbox-item.link
							//вот сюда active 
							a(href="#").checkbox-outer
								span.input-fake 2500-2600 ккал      
						li.checkbox-item.link
							//вот сюда active 
							a(href="#").checkbox-outer
								span.input-fake 2900-2600 ккал 
									.sort_wrapper
					//на мобилке тут вылазит эта лабуда с индекса
					.sort-select.js-select-item
						.sort-select-title
							span.name Рацион: 
							span.value.u-number 1000-1200 ккал
							i.bread-arrow
						.dropdown-target
							.dropdown-inner
								.dropdown-content
									.sort-select-item
										a(href="#",data-text="1000-1200 ккал")
											span.u-number 1000-1200
											|ккал
									.sort-select-item
										a(href="#",data-text="1400-1600 ккал")
											span.u-number 1400-1600
											|ккал
									.sort-select-item
										a(href="#",data-text="1600-1800 ккал")
											span.u-number 1600-1800
											|ккал
					.menu-nav
						.menu-nav-inner
							.m-nav-link.left.disabled Предыдущий день
							.m-nav-link.right Следующий день
					.menu-grid
						mixin menuItems(img, type,name,val ,bgu)
							.menu-item-wrap
								.menu-item
									.menu-type-wrap
										.menu-type-item #{type}
									.menu-img-wrap
										.menu-img-img(style='background-image:url(img/menu/'+img+')')
										.menu-item-bgu #{bgu}
									.menu-text-wrap
										.menu-text-name #{name}
										.menu-text-val
											span.u-number #{val}
											| ккал
						+menuItems('1.png','Завтрак','Английский завтрак из 3-х яиц','180 г / 306.8','БЖУ: 19.9 г, 10.9 г, 42.5 г')
						+menuItems('2.png','Перекус 1','Пудинг творожный х1,5','260 г / 389','БЖУ: 19.9 г, 10.9 г, 42.5 г')
						+menuItems('3.png','Перекус 2','Ролл с курицей','210 г / 347.9','БЖУ: 19.9 г, 10.9 г, 42.5 г')
						+menuItems('4.png','Обед','Тыквенный крем суп','250 г / 153.7','БЖУ: 19.9 г, 10.9 г, 42.5 г')
						+menuItems('6.png','Обед','Орзо паста с морепродуктами','200 г / 305.2','БЖУ: 19.9 г, 10.9 г, 42.5 г')
						+menuItems('5.png','Перекус 3','Куриный рулет с томатами','150 г / 148.5','БЖУ: 19.9 г, 10.9 г, 42.5 г')
						+menuItems('7.png','Перекус 4','Тар-тар с гречкой и авокадо','225 г / 314','БЖУ: 19.9 г, 10.9 г, 42.5 г')
						+menuItems('8.png','Ужин','Котлета по киевски с рататуем','190 г / 177','БЖУ: 19.9 г, 10.9 г, 42.5 г')
						.menu-item-wrap.total
							.menu-item
								.box-title Итого
								.props
									.props-item
										|Белки:
										span 93.9 г 
									.props-item
										|Жиры:
										span 59.2 г
									.props-item
										|Углеводы:
										span 151.8 г
								.menu-text-name Всего ккал: 2298.2
								a(href="#").btn.btn-go Попробовать рацион
					.i-arrows
						.slider-counter
							.slider-curr
							.slider-divider /
							.slider-total
					.box-standart
						.u-light.s-small.u-halfgray Внимание: рекомендуем хранить еду при температуре +2 …+4 градуса! 
					script.
						GridorSlider();
				.half-section   
					.side-wrap
						.side-title 
							.h-title.h2 Описание программы                   
						.side-content  
							p.text1 Идеальный ежедневный рацион, составленный профессио- нальными диетологами и поварами.
							p Тщательно подобранные сочетания продуктов и вкусов, баланс нутриентов и ограниченное количество сахара позволяют обеспечить организм всеми необходимыми веществами. 
							p В рационе присутствуют все виды белка, медленные углеводы с низким Гликемическим Индексом. Точный расчет калорийности блюд помогает достичь и поддерживать необходимый результат. Все эти нюансы благотворно влияют на состояние организма.
				.half-section
					.box-title Опции рациона
					.options-wrap
						mixin opt(text,img)
							.options-item(style='background-color: #faebeb')
								.options-text #{text}
								.options-img(style='background-image: url(img/opt/'+img+')')
						+opt('Контроль калорийности: 2300-2600 ккал','1.png')
						+opt('Cбалансированный рацион для физичес- ких нагрузок','2.png')
						+opt('8-ми разовое питание: завтрак, обед, ужин, 4 перекуса','3.png')
						+opt('Правильная техноло- гия приготовления блюд','4.png')
				.half-section   
					.side-wrap
						.side-title 
							.h-title.h2 Зачем 
								br
								|вам такое питание               
						.side-content  
							p.text1 Такой рацион даст организму весь необходмый суточный набор белков, жиров и углеводов. Кроме этого вы получите: 
							ul
								li Безопасное похудение/поддержание веса без вреда организму.
								li Стройная фигура.
								li Стабильный результат.
								li Здоровый внешний вид.
								li Хорошее настроение и заряд энергией.
								li Удобство.
								li Освобождение времени на приятный досуг.
				.half-section   
					.box-review-content
						.i-arrows
							.slider-counter
								.slider-curr
								.slider-divider /
								.slider-total
						.review-slider
							mixin review(img,name,title,text)
								.review-item
									.review-content(style='background-color:#eaf6ef')
										.review-who
											.review-who-img
												img(src=img, alt="")
											.h-title.h4 #{name}
											.social
												.soc-icon-wrapp.fb
													a(href="#").soc-icon-item
														svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 30 30', style='enable-background:new 0 0 30 30;', xml:space='preserve')
															style(type='text/css').
																.stsoc{fill-rule:evenodd;clip-rule:evenodd;fill:#000000;}
																.stsoc1{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFFFF;}
															path.stsoc(d='M1.5,0h27C29.3,0,30,0.7,30,1.5v27c0,0.8-0.7,1.5-1.5,1.5h-27C0.7,30,0,29.3,0,28.5v-27C0,0.7,0.7,0,1.5,0z')
															path.stsoc1(d='M16.1,23.5h-3.4c-0.2,0-0.4-0.2-0.4-0.4v-7.4h-1.5c-0.2,0-0.4-0.2-0.4-0.4v-3c0-0.2,0.2-0.4,0.4-0.4h1.5l0-1.9\
															c0-1.1,0.3-2,0.9-2.6c0.7-0.7,1.7-1,3.1-1h2.7c0.2,0,0.4,0.2,0.4,0.4v3c0,0.2-0.2,0.4-0.4,0.4h-2c-0.2,0-0.5,0.2-0.6,0.4l0,1.5H19\
															c0.1,0,0.2,0,0.3,0.1c0.1,0.1,0.1,0.2,0.1,0.3c-0.1,1.5-0.3,3-0.3,3c0,0.2-0.2,0.3-0.4,0.3h-2.2v7.4C16.5,23.3,16.3,23.5,16.1,23.5z\
															')
												.soc-icon-wrapp.vk
													a(href="#").soc-icon-item
														svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 30 30', style='enable-background:new 0 0 30 30;', xml:space='preserve')
															style(type='text/css').
																.stsoc{fill-rule:evenodd;clip-rule:evenodd;fill:#ffffff;}
																.stsoc1{fill-rule:evenodd;clip-rule:evenodd;fill:#000000;}
															path.stsoc(d='M1.5,0h27C29.3,0,30,0.7,30,1.5v27c0,0.8-0.7,1.5-1.5,1.5h-27C0.7,30,0,29.3,0,28.5v-27C0,0.7,0.7,0,1.5,0z')
															path.stsoc1(d='M15,21h1.1c0,0,0.3,0,0.5-0.2c0.2-0.2,0.2-0.5,0.2-0.5s0-1.6,0.7-1.9c0.7-0.2,1.6,1.6,2.5,2.3\
															c0.7,0.5,1.2,0.4,1.2,0.4l2.5,0c0,0,1.3-0.1,0.7-1.2c-0.1-0.1-0.4-0.8-1.8-2.3c-1.5-1.6-1.3-1.3,0.5-4c1.1-1.7,1.6-2.7,1.4-3.1\
															c-0.1-0.4-1-0.3-1-0.3l-2.8,0c0,0-0.2,0-0.4,0.1c-0.1,0.1-0.2,0.4-0.2,0.4s-0.4,1.3-1,2.4c-1.2,2.3-1.7,2.4-1.9,2.3\
															c-0.5-0.3-0.4-1.3-0.4-2c0-2.2,0.3-3.2-0.6-3.4c-0.3-0.1-0.5-0.1-1.3-0.1c-1,0-1.8,0-2.3,0.3c-0.3,0.2-0.6,0.5-0.4,0.6\
															c0.2,0,0.6,0.1,0.8,0.5c0.3,0.4,0.3,1.4,0.3,1.4s0.2,2.6-0.4,2.9c-0.4,0.2-0.9-0.2-2-2.3c-0.6-1.1-1-2.3-1-2.3s-0.1-0.2-0.2-0.3\
															C9.5,10,9.2,10,9.2,10l-2.6,0c0,0-0.4,0-0.5,0.2c-0.1,0.2,0,0.5,0,0.5s2.1,5.3,4.4,8C12.6,21.1,15,21,15,21z')         
												.soc-icon-wrapp.insta
													a(href="#").soc-icon-item
														svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 34 34', style='enable-background:new 0 0 34 34;', xml:space='preserve')
															style(type='text/css').
																.stsoc1{fill:#2D2D2D;}
															g
																path.stsoc1(d='M26.5,6h-1C24.7,6,24,6.7,24,7.5v1c0,0.8,0.7,1.5,1.5,1.5h1c0.8,0,1.5-0.7,1.5-1.5v-1C28,6.7,27.3,6,26.5,6\
																L26.5,6z')
															g
																path.stsoc1(d='M17,12.5c3,0,5.5,2.5,5.5,5.5S20,23.5,17,23.5S11.5,21,11.5,18S14,12.5,17,12.5 M17,10c-4.4,0-8,3.6-8,8\
																s3.6,8,8,8s8-3.6,8-8S21.4,10,17,10L17,10z')
															g
																path.stsoc1(d='M25,2.5c3.6,0,6.5,2.9,6.5,6.5v16c0,3.6-2.9,6.5-6.5,6.5H9c-3.6,0-6.5-2.9-6.5-6.5V9c0-3.6,2.9-6.5,6.5-6.5H25\
																M25,0H9C4,0,0,4,0,9v16c0,5,4,9,9,9h16c5,0,9-4,9-9V9C34,4,30,0,25,0L25,0z')
										.review-text
											.star-wrapper
												.star-item.active
												.star-item.active
												.star-item.active
												.star-item.active
												.star-item.active
											.review-title #{title}
											.text2 #{text}
											.review-date.s-small.u-light 12 октября 2016
							+review('img/person.jpg','Мариана Носова','Однозначно рекомендую!','Хочу отметить, что вести здоровый образ жизни и продумывать свое ежедневное меню таким образом, чтобы все критерии были соблюдены, — сложно. С «Eat-bit» эта задача по sdfsd ss dds fsd sdf sdf sdf sdfлностью решается. Я получила разнообразное ежедневное меню из любимых продуктов, профессиональные повара подарили мне совершенно новые вкусовые ощущения.')
							+review('img/person.jpg','Мариана Носова','Однозначно рекомендую!','Хочу отметить, что вести здоровый образ жизни и продумывать свое ежедневное меню таким образом, чтобы все критерии были соблюдены, — сложно. С «Eat-bit» эта задача полностью решается. Я получила разнообразное ежедневное меню из любимых продуктов, профессиональные повара подарили мне совершенно новые вкусовые ощущения.')
							+review('img/person.jpg','Мариана Носова','Однозначно рекомендую22!','Хочу отметить, что вести здоровый образ жизни и продумывать свое ежедневное меню таким образом, чтобы все критерии были соблюдены, — сложно. С «Eat-bit» эта задача полностью решается. Я получила разнообразное ежедневное меню из любимых продуктов, профессиональные повара подарили мне совершенно новые вкусовые ощущения.')
							+review('img/person.jpg','Мариана Носова','Однозначно рекоменду444ю!','Хочу отметить, что вести здоровый образ жизни и продумывать свое ежедневное меню таким образом, чтобы все критерии были соблюдены, — сложно. С «Eat-bit» эта задача полностью решается. Я получила разнообразное ежедневное меню из любимых продуктов, профессиональные повара подарили мне совершенно новые вкусовые ощущения.')
						script.
							reviews();
				.half-section   
					.box-title Остались вопросы?
						.box-title-small Напишите или позвоните нашему менеджеру. Он с радостью ответит на все интересующие вас вопросы! 
					.questions-cont
						a(href="tel:89260201481").link-tel 
							span.u-number 8 (926) 02-01-481
						button(type='button').btn.btn-go.no-arr задать вопрос
						.soc-btns
							button(type='button').soc-btn.fb.small 35
							button(type='button').soc-btn.vk.small 734
				.half-section
					.box-title.left Программы питания
					//.disabled для отсутсвующего блока
					.color-wrapper
						mixin colorBlock(kal,icon,value,img,color)
							a(href="#").color-block
								.color-block-bg(style='background-image: url('+img+')')
								.color-block-main(style='background-color:#'+color+';')
									.u-light
										span.u-number.h2 #{kal}
										span Ккал/день
									.color-block-icon
										i(style='background-image: url(img/smalli/'+icon+')')
									buttom(type='buttom').btn.btn-go от  
										span.u-number #{value}
										|  ₽/день
									.u-light.s-text.u-halfgray.doptext 
										span Меню на 2 недели
						+colorBlock('800–1600','1.png','1500','img/index-slide/bg1.png','fcf7eb')
						+colorBlock('1600–2000','2.png','1700','img/index-slide/bg1.png','eaf6ef')
						+colorBlock('2100–2300','3.png','1750','img/index-slide/bg1.png','e3e9f9')
						+colorBlock('2300–2900','4.png','1800','img/index-slide/bg1.png','faebeb')
						+colorBlock('2900–3500','5.png','2000','img/index-slide/bg1.png','faebeb')
						.color-block.calc
							.box-title Какая программа мне подойдёт?
							a(href="#").icon-link.calc
								i
								span Калькулятор
				button.btn-calc-fixed.js-popup-button(type='button',data-modal='calc')
					.btn-calc-icon
			#zakaz.half-side
				.sticky-wrap.js-sticky
					.white-box
						.h-title.h2 Заказать
							a(href="#",data-modal="calc").icon-link.calc.js-popup-button
								i
						form(action=" ").js-validate
							ul.checkbox-wrap
								mixin Check(name)
									li.checkbox-item
										label.checkbox-outer 
											input.input-real(type="radio",name='group',value = name)
											span.input-fake #{name}
								+Check('2300-2600 ккал')
								+Check('2600-2900 ккал')
								+Check('2900-3200 ккал')
							.slider-wrap.js-slider-wrap
								.slider-text-wrapper
									.slider-weeks
										span.js-slider-info.js-slider-week(data-index-1='1 день',data-index-2='1 неделя',data-index-3='2 недели',data-index-5='1 месяц')
										//размер скидки
										span.discount.js-slider-info(data-index-1='0%',data-index-2='-4%',data-index-3='-16%',data-index-5='-32%')
									.slider-amount
										// цена
										span.js-slider-info.js-slider-price(data-index-1='1600',data-index-2='1500',data-index-3='1400',data-index-5='1300')
										|₽/день
										//цена * значение отсюда =  .form-total-count
										.js-slider-info.js-slider-x(data-index-1='1',data-index-2='7',data-index-3='15',data-index-5='30')
								.rangeinput
									i.dot.dot25
									i.dot.dot50
									i.dot.dot0
									i.dot.dot100
							.form-footer
								.form-total
									//сюда сумма 
									.form-total-count
									//сюда недели
									.form-total-week.s-medium.u-halfgray
								.form-buttons
									a(href="#").btn.btn-black Заказать
									a(href="#").icon-link.js-popup-button(type='button',data-modal='oneclick')
										span Купить в 1 клик
					.offer-feachure
						.footer-nav-payment
							.payment-item
								img(src='img/payment/visa.svg', alt="")
							.payment-item
								img(src='img/payment/master.png', alt="")
							.payment-item
								img(src='img/payment/webm.png', alt="")
							.payment-item
								img(src='img/payment/ya2.png', alt="")
						ul.list
							li Бесплатная доставка в пределах МКАД
							li В радиусе 20 км от МКАД — 250 ₽
							li В радиусе 30 км от МКАД — 350 ₽
								






















	