extends _layout

block title
  title Мой заказ

block content
  .pagehead-wrap.text-center(style='background-image: url(img/hbg.jpg)')
    .inner-content
      .pagehead-content
        h1.h-title.h1.u-white Оформление заказа
      .bread-container
        mixin bread(name)
          a(href="#").icon-link
            i 
            span #{name}
        +bread('Главная')
        +bread('Оформление заказа')
  .inner-content.center-content
    .center-box
      form.offer-form.js-validate
        .white-box.client
          .h-title.h2 Клиент
            button(type="button",data-modal='login')
          .inputs-cont
            .input-item.s-100
              .input-wrapper.req
                input.input-main(type="text",data-validation="length required",data-validation-length='min2',data-validation-error-msg="Не заполнено")
                label.input-label Ваше имя
            .input-item.s-50
              .input-wrapper.req.disabled.has-success
                input.input-main(type="email",data-validation="email required",data-validation-error-msg="Не заполнено", value='es@flxmd.by')
                label.input-label
            .input-item.s-50
              .input-wrapper.req
                input.input-main(type="tel",data-validation="custom required",data-validation-regexp="^[-0-9()+ ]+$",data-validation-error-msg="Не заполнено")
                label.input-label Телефон 
        .white-box.more-block
          .h-title.h2 Адрес доставки
          .address-wrapper
            .address-item.active
              .address-head.js-accordion-trigger.active
                .select-u-item
                  .input_label
                    span.input_main
                      input.input-real(type="checkbox", name='deliveryAddress', value ='1',data-validation="required")
                      span.input-checked
                .text1 г. Москва, ул. Арбат, д. 20, кв./оф. 120
                .smalllight Подъезд: 3, Этаж: 4 
              .address-body.js-accordion-body
                .h-title.h5 Дата доставки
                ul.checkbox-wrap.day-check
                  li.checkbox-item
                    label.checkbox-outer 
                      input.input-real(type="radio",name='firstday',value = 'sdf',data-validation="required")
                      span.input-fake Первый день
                  li.checkbox-item
                    label.checkbox-outer 
                      input.input-real(type="checkbox",name='nextAddress',value = 'sdf')
                      span.input-fake Другой день
                .inputs-cont
                  .input-item.s-50
                    .input-wrapper.req.date
                      input.datepicker.input-main(type="text",readonly="true",data-validation="required",data-validation-error-msg="Не заполнено")
                      label.input-label Дата первой доставки
                  .input-item.s-100
                    .input-wrapper.s-100
                      textarea.input-main(rows='3')
                      label.input-label Комментарий для курьера
                .h-title.h5 Удобное время для доставки
                ul.checkbox-wrap
                  mixin Check(name,name2)
                    li.checkbox-item
                      label.checkbox-outer 
                        input.input-real(type="radio",name='time-group-1',value = name,data-validation="required")
                        span.input-fake.small
                          span #{name}
                            sup 00
                          | - 
                          span #{name2}
                            sup 00
                  +Check('06','07')
                  +Check('07','08')
                  +Check('08','09')
                  +Check('10','11')
                  +Check('07','08')
                  +Check('07','08')
            .address-item
              .address-head.js-accordion-trigger
                .select-u-item
                  .input_label
                    span.input_main
                      input.input-real(type="checkbox", name='deliveryAddress',value ='2',data-validation="required")
                      span.input-checked
                .text1 г. Москва, ул. Мележа, д. 4, кв./оф. 15
                .smalllight Подъезд: 3, Этаж: 4 
              .address-body.js-accordion-body
                .h-title.h5 Дата доставки
                ul.checkbox-wrap.day-check
                  li.checkbox-item
                    label.checkbox-outer 
                      input.input-real(type="radio",name='firstday',value = 'sdf',data-validation="required")
                      span.input-fake Первый день
                  li.checkbox-item
                    label.checkbox-outer 
                      input.input-real(type="checkbox",name='nextAddress',value = 'sdf')
                      span.input-fake Другой день
                .inputs-cont
                  .input-item.s-50
                    .input-wrapper.req.date
                      input.datepicker.input-main(type="text",readonly="true",data-validation="required",data-validation-error-msg="Не заполнено")
                      label.input-label Дата первой доставки
                  .input-item.s-100
                    .input-wrapper.s-100
                      textarea.input-main(rows='3')
                      label.input-label Комментарий для курьера
                .h-title.h5 Удобное время для доставки
                ul.checkbox-wrap
                  mixin Check(name,name2)
                    li.checkbox-item
                      label.checkbox-outer 
                        input.input-real(type="radio",name='group',value = name,data-validation="required")
                        span.input-fake.small
                          span #{name}
                            sup 00
                          | - 
                          span #{name2}
                            sup 00
                  +Check('06','07')
                  +Check('07','08')
                  +Check('08','09')
                  +Check('10','11')
                  +Check('07','08')
                  +Check('07','08')
            .address-item
              .address-head.js-accordion-trigger
                .select-u-item
                  .input_label
                    span.input_main
                      input.input-real(type="checkbox", name='deliveryAddress', value ='3',data-validation="required")
                      span.input-checked
                .text1 г. Москва, ул. Кольцова, д. 87, корп. 4, кв./оф. 540
                .smalllight Подъезд: 3, Этаж: 4 
              .address-body.js-accordion-body
                .h-title.h5 Дата доставки
                ul.checkbox-wrap.day-check
                  li.checkbox-item
                    label.checkbox-outer 
                      input.input-real(type="radio",name='firstday',value = 'sdf',data-validation="required")
                      span.input-fake Первый день
                  li.checkbox-item
                    label.checkbox-outer 
                      input.input-real(type="checkbox",name='nextAddress',value = 'sdf')
                      span.input-fake Другой день
                .inputs-cont
                  .input-item.s-50
                    .input-wrapper.req.date
                      input.datepicker.input-main(type="text",readonly="true",data-validation="required",data-validation-error-msg="Не заполнено")
                      label.input-label Дата первой доставки
                  .input-item.s-100
                    .input-wrapper.s-100
                      textarea.input-main(rows='3')
                      label.input-label Комментарий для курьера
                .h-title.h5 Удобное время для доставки
                ul.checkbox-wrap
                  mixin Check(name,name2)
                    li.checkbox-item
                      label.checkbox-outer 
                        input.input-real(type="radio",name='group',value = name,data-validation="required")
                        span.input-fake.small
                          span #{name}
                            sup 00
                          | - 
                          span #{name2}
                            sup 00
                  +Check('06','07')
                  +Check('07','08')
                  +Check('08','09')
                  +Check('10','11')
                  +Check('07','08')
                  +Check('07','08')                                    
          p.helptext Если мы не сможем связаться с вами в течении 20 минут в пределах указанного временного промежутка доставки — курьер едет на следующую точку доставки. Повторный приезд +250 ₽.
          p.helptext Смена адреса доставки возможна не позднее 1800 дня, предшествующего заказу. Позднее — доставка платная +250 ₽ в период до 1200.
          button(type='button').trans-btn.add.borderb.js-add-block-btn
            span Добавить адрес доставки
          .notify-btn.dropdown-trigger
            .dropdown-target
              .dropdown-inner
               .dropdown-content
                  .text2 Нет возможности получать ежедневно заказ только по одному адресу? Доба- вьте пожалуйста дополнительный адрес, чтобы наш менеджер смог уточнить, где вы находитесь.
        .white-box
          .h-title.h2 Способ оплаты
          .h-title.h5 При получении курьеру
          ul.checkbox-wrap.payment-check
            li.checkbox-item
              label.checkbox-outer 
                input.input-real(type="radio",name='group1',value = 'nal',data-validation="required")
                span.input-fake Наличные
          .h-title.h5 Online платежи
          ul.checkbox-wrap.payment-check
            li.checkbox-item
              label.checkbox-outer 
                input.input-real(type="radio",name='group1',value = 'sdf',data-validation="required")
                span.input-fake Банковские карты
              .checkbox-img-wrap
                .checkbox-img-item
                  img(src="img/paysmall/1.jpg", alt="")
            li.checkbox-item
              label.checkbox-outer 
                input.input-real(type="radio",name='group1',value = 'sdf',data-validation="required")
                span.input-fake Электронные деньги
              .checkbox-img-wrap
                .checkbox-img-item
                  img(src="img/paysmall/2.jpg", alt="")
            li.checkbox-item
              label.checkbox-outer 
                input.input-real(type="radio",name='group1',value = 'sdf',data-validation="required")
                span.input-fake Интернет-банкинг
              .checkbox-img-wrap
                .checkbox-img-item
                  img(src="img/paysmall/3.jpg", alt="")
        .white-box
          .h-title.h2 Итого к оплате
          dl.result-offer
            dt.text2 
              span Заказ на сумму
            dd.text1 
              span 90 000 ₽
          dl.result-offer
            dt.text2 
              span Скидка по промокоду
            dd.text1 
              span 4 500 ₽
          dl.result-offer
            dt.text2 
              span Доставка
                span.s-text.h5.u-halfgray 250 ₽ х 2 недели
            dd.text1 
              span 3 500 ₽       
          dl.result-offer
            dt.text2 
            dd.form-total-count 
              span 3 500 ₽         
        .menu-nav
          .menu-nav-inner
            input(type="submit", value=' Оформить Заказ').btn.btn-black.btn-big
      .is-hide
        .white-box.form-in
          .h-title.h2 Дополнительный адрес
            button(type="button").icon-link.close.js-remove-block-btn
              i
              span Удалить
          .h-title.h5 Дата и адрес доставки
          .inputs-cont
            .input-item.s-50
              .input-wrapper.req.date
                input.datepicker.input-main(type="text",readonly="true",data-validation="required",data-validation-error-msg="Не заполнено")
                label.input-label Дата первой доставки

            .input-item.s-50
              .input-wrapper.req.js-text-input
                input.input-main(type="text",data-validation="length required",data-validation-length='min2',data-validation-error-msg="Не заполнено")
                label.input-label Город
                .dropdown-target
                  .dropdown-inner
                    .dropdown-content
                      p сюда выплевываем список городов
            .input-item.s-50
              .input-wrapper.req
                input.input-main(type="text",data-validation="length required",data-validation-length='min2',data-validation-error-msg="Не заполнено")
                label.input-label Улица
            .input-item.s-25
              .input-wrapper.req
                input.input-main(type="text",data-validation="length required",data-validation-length='min2',data-validation-error-msg="Не заполнено")
                label.input-label Дом   
            .input-item.s-25      
              .input-wrapper.req
                input.input-main(type="number required",data-validation="custom required",data-validation-regexp="^[-0-9()+ ]+$",data-validation-error-msg="Не заполнено")
                label.input-label Корпус
            .input-item.s-25
              .input-wrapper.req
                input.input-main(type="number required",data-validation="custom required",data-validation-regexp="^[-0-9()+ ]+$",data-validation-error-msg="Не заполнено")
                label.input-label Подъезд
            .input-item.s-25
              .input-wrapper.req
                input.input-main(type="text",data-validation="length required",data-validation-length='min2',data-validation-error-msg="Не заполнено")
                label.input-label Кв./оф
            .input-item.s-25
              .input-wrapper.req
                input.input-main(type="number",data-validation="custom required",data-validation-regexp="^[-0-9()+ ]+$",data-validation-error-msg="Не заполнено")
                label.input-label Этаж
            .input-item.s-25
              .input-wrapper.req
                input.input-main(type="text",data-validation="length required",data-validation-length='min2',data-validation-error-msg="Не заполнено")
                label.input-label Домофон
            .input-item.s-100
              .input-wrapper.s-100
                textarea.input-main(rows='3')
                label.input-label Комментарий для курьера
          .h-title.h5 Удобное время для доставки
          ul.checkbox-wrap
            mixin Check(name,name2)
              li.checkbox-item
                label.checkbox-outer 
                  input.input-real(type="radio",name='time-group1',value = name,data-validation="required")
                  span.input-fake.small
                    span #{name}
                      sup 00
                    | - 
                    span #{name2}
                      sup 00
            +Check('06','07')
            +Check('07','08')
            +Check('08','09')
            +Check('10','11')
            +Check('07','08')
            +Check('07','08')
          p.helptext Если мы не сможем связаться с вами в течении 20 минут в пределах указанного временного промежутка доставки — курьер едет на следующую точку доставки. Повторный приезд +250 ₽.
          p.helptext Смена адреса доставки возможна не позднее 1800 дня, предшествующего заказу. Позднее — доставка платная +250 ₽ в период до 1200.
          button(type='button').trans-btn.add.borderb.js-add-block-btn.js-add-block-btn
            span Добавить адрес доставки
          .notify-btn.dropdown-trigger
            .dropdown-target
              .dropdown-inner
               .dropdown-content
                  .text2 Нет возможности получать ежедневно заказ только по одному адресу? Доба- вьте пожалуйста дополнительный адрес, чтобы наш менеджер смог уточнить, где вы находитесь.                  



















  