extends _layout

block title
  title Index

block content
  .box-full
    .index-slider-wrapper
      .index-slider
        mixin indexmain(img,title,list1,list2,list3,val)
          .index-slide(class= val)
            .index-slide-inner(style='background-image: url('+img+ ')')
              .index-slide-text
                .title.h1 #{title}
                ul.list
                  li #{list1}
                  li #{list2}
                  li #{list3}
                a(href="#").btn.t-white Программы питания
        +indexmain('img/index-slide/1.png','Здоровое питание на весь день','Сбалансированный рацион','Ежедневная доставка (бесплатно в пределах МКАД)','Максимальное удобство')
        +indexmain('img/index-slide/1.png','Здоровое питание на весь-весь день2','Сбалансированный рацион','Ежедневная доставка (бесплатно в пределах МКАД)','Максимальное удобство')
        +indexmain('img/index-slide/1.png','Здоровое питание на весь-весь-вусь день3','Сбалансированный рацион','Ежедневная доставка (бесплатно в пределах МКАД)','Максимальное удобство')
        +indexmain('img/index-slide/4.png','Здоровое питание на весь-весь-вусь день3','Сбалансированный рацион','Ежедневная доставка (бесплатно в пределах МКАД)','Максимальное удобство','white')
        +indexmain('img/index-slide/3.png','Здоровое питание на весь-весь-вусь день3','Сбалансированный рацион','Ежедневная доставка (бесплатно в пределах МКАД)','Максимальное удобство','white')
        +indexmain('img/index-slide/2.png','Здоровое питание на весь-весь-вусь день3','Сбалансированный рацион','Ежедневная доставка (бесплатно в пределах МКАД)','Максимальное удобство','white')
      .index-add-wrapper
        .index-add
          mixin indexadd(title,text)
            .index-add-slide
              .u-light.u-white.s-text #{title}
              .smalllight #{text}
          +indexadd('Овсяная каша с какао и бананом','БЖУ: 19.9, 10.9, 42.5, Ккал: 347.9')
          +indexadd('Овсяная каша с какао и бананом','БЖУ: 19.9, 10.9, 42.5, Ккал: 347.9')
          +indexadd('Овсяная каша с какао и бананом','БЖУ: 19.9, 10.9, 42.5, Ккал: 347.9')
          +indexadd('Овсяная каша с какао и бананом','БЖУ: 19.9, 10.9, 42.5, Ккал: 347.9')
          +indexadd('Овсяная каша с какао и бананом','БЖУ: 19.9, 10.9, 42.5, Ккал: 347.9')
          +indexadd('Овсяная каша с какао и бананом','БЖУ: 19.9, 10.9, 42.5, Ккал: 347.9 ')
        .i-arrows
          .slider-counter
            .slider-curr
            .slider-divider /
            .slider-total
      script.
        function news(){
          $( ".index-slider").each( function() {
            var _this = $(this);
            slidesCount(_this);
            ArrColor(_this);
            _this.slick({
              accessibility: true,
              arrows: true,
              draggable: false,
              touchMove: false,
              asNavFor:_this.siblings().find('.index-add'),
              infinite: true,
              slidesToShow: 1,
              slidesToScroll: 1,
              appendArrows: _this.siblings().find('.i-arrows'),
              nextArrow:'<button type="button" class="carousel-next"><div class="icon"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"viewBox="0 0 7.4 12.1" style="enable-background:new 0 0 7.4 12.1;" xml:space="preserve"><style type="text/css">.starr{fill-rule:evenodd;clip-rule:evenodd;fill:none;stroke:#2D2D2D;stroke-width:1.2;stroke-miterlimit:10;}</style><path class="starr" d="M0.5,0.5l6,5.6l-6,5.6"/></svg></div></button>',
              prevArrow:'<button type="button" class="carousel-prev"><div class="icon"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 7.4 12.1" style="enable-background:new 0 0 7.4 12.1;" xml:space="preserve"><style type="text/css"> .starr{fill-rule:evenodd;clip-rule:evenodd;fill:none;stroke:#2D2D2D;stroke-width:1.2;stroke-miterlimit:10;}</style><path class="starr" d="M6.9,11.7l-6-5.6l6-5.6"/></svg></div></button>',
            }); 

            _this.siblings().find('.index-add').slick({
              arrows: false,
              draggable: false,
              asNavFor: _this,
              touchMove: false,
              speed: 500,
              slidesToShow: 1,
              slidesToScroll: 1,
            });
          }); 
        } news();
  section.box-standart.box-section
    h2.box-title Программы питания
    a(href="#").icon-link.repeat
      i
      span Повторить заказ
    .box-title-small Всегда разнообразный рацион от нашего Шеф-повара. Ежедневная доставка прямо в руки в любую точку Москвы и МО. Доставка бесплатна в пределах МКАД.
    .color-wrapper
      mixin colorBlock(kal,icon, text,value,img,color)
        a(href="#").color-block
          .color-block-bg(style='background-image: url('+img+')')
          .color-block-main(style='background-color:#'+color+';')
            .u-light
              span.u-number.h2 #{kal}
              span Ккал/день
            .color-block-icon
              i(style='bakground-img: url('+icon+')')
            .color-text.u-halfgray #{text}
            buttom(type='buttom').btn.btn-go от  
              span.u-number #{value}
              |  ₽/день
            .u-light.s-text.u-halfgray.doptext 
              span Меню на 2 недели
      +colorBlock('800–1600','','3 программы питания рассчитаны для людей, желающих активно снизить вес','1500','img/index-slide/bg1.png','fcf7eb')
      +colorBlock('1600–2000','','Программы питания рассчитаны для  поддер- жания веса у девушек и снижения веса у мужчин','1700','img/index-slide/bg1.png','eaf6ef')
      +colorBlock('2100–2300','','Самая популярная программа для людей, посещающих фитнес-клуб, или занимающихся спортом','1750','img/index-slide/bg1.png','e3e9f9')
      +colorBlock('2300–2900','','Программы питания рассчитаны на активный набор мышечной массы','1800','img/index-slide/bg1.png','faebeb')
      +colorBlock('2900–3500','','Программы питания для профессиональных спортсменов','2000','img/index-slide/bg1.png','faebeb')
      .color-block.calc
        .box-title Какая программа мне подойдёт?
        a(href="#").icon-link.calc
          i
          span Калькулятор
  section.box-full.box-section.gray
    h2.box-title Меню на завтра
    .box-title-small Наше меню полностью сбалансировано по нутриентам. Ваш рацион каждый день будет максимально разнообразным и необычными. 
    .menu-nav
      .menu-nav-inner
        .m-nav-link.left.disabled Предыдущий день
        .sort_wrapper
          .sort-select.js-select-item
            .sort-select-title
              span.name Рацион: 
              span.value.u-number 1000-1200 ккал
              i.bread-arrow
            .dropdown-target
              .dropdown-inner
                .dropdown-content
                  .sort-select-item
                    a(href="#",data-text="1000-1200 ккал")
                      span.u-number 1000-1200
                      |ккал
                  .sort-select-item
                    a(href="#",data-text="1400-1600 ккал")
                      span.u-number 1400-1600
                      |ккал
                  .sort-select-item
                    a(href="#",data-text="1600-1800 ккал")
                      span.u-number 1600-1800
                      |ккал
                  .sort-select-item.active
                    a(href="#",data-text="1800-2000 ккал")
                      span.u-number 1800-2000
                      |ккал
                  .sort-select-item
                    a(href="#",data-text="2100-2300 ккал")
                      span.u-number 2100-2300
                      |ккал
                  .sort-select-item
                    a(href="#",data-text="2300-2500 ккал")
                      span.u-number 2300-2500
                      |ккал
                  .sort-select-item
                    a(href="#",data-text="2700-2900 ккал")
                      span.u-number 2700-2900
                      |ккал                  
                  .sort-select-item
                    a(href="#",data-text="2900-3200 ккал")
                      span.u-number 2900-3200
                      |ккал
        .m-nav-link.right Следующий день
    .menu-grid
      mixin menuItems(img, type,name,val ,bgu)
        .menu-item-wrap
          .menu-item
            .menu-type-wrap
              .menu-type-item #{type}
            .menu-img-wrap
              .menu-img-img(style='background-image:url(img/menu/'+img+')')
              .menu-item-bgu #{bgu}
            .menu-text-wrap
              .menu-text-name #{name}
              .menu-text-val
                span.u-number #{val}
                | ккал
      +menuItems('1.png','Завтрак','Английский завтрак из 3-х яиц','180 г / 306.8','БЖУ: 19.9 г, 10.9 г, 42.5 г')
      +menuItems('2.png','Перекус 1','Пудинг творожный х1,5','260 г / 389','БЖУ: 19.9 г, 10.9 г, 42.5 г')
      +menuItems('3.png','Перекус 2','Ролл с курицей','210 г / 347.9','БЖУ: 19.9 г, 10.9 г, 42.5 г')
      +menuItems('4.png','Обед','Тыквенный крем суп','250 г / 153.7','БЖУ: 19.9 г, 10.9 г, 42.5 г')
      +menuItems('6.png','Обед','Орзо паста с морепродуктами','200 г / 305.2','БЖУ: 19.9 г, 10.9 г, 42.5 г')
      +menuItems('5.png','Перекус 3','Куриный рулет с томатами','150 г / 148.5','БЖУ: 19.9 г, 10.9 г, 42.5 г')
      +menuItems('7.png','Перекус 4','Тар-тар с гречкой и авокадо','225 г / 314','БЖУ: 19.9 г, 10.9 г, 42.5 г')
      +menuItems('8.png','Ужин','Котлета по киевски с рататуем','190 г / 177','БЖУ: 19.9 г, 10.9 г, 42.5 г')

























  